/* nav */
.btn {
    margin-right: 620px;
}

.nav-item2 {
    margin-right: 20px;
}

/* hero header */

.col-sm-6 h1 {
    margin-top: 20%;
}

.soi {
    color: #6DA696;
}

.col-sm-3 img {
    width: 200%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.btn-group {
    padding: 10px 0px;
    margin-bottom: 10px;
}

.btn-group .btn {
    margin: 0;
    margin-right: 1rem;
    /* Add space between the buttons */
}

/* column section */

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}

.col-sm-4 {
    max-width: 960px;
    margin: 0 auto;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.card-text {
    font-size: 1rem;
    text-align: center;
}

.card {
    margin: 15px;
    margin-top: 40px;
}

.fa-5x {
    font-size: 2.3rem;
    margin-top: 10%;
    margin-left: 40%;
}

.avatar {
    border-radius: 50%;
}

.avatar-online {
    border: 2px solid rgb(0, 255, 0);
}

.avatar-toggle.offline {
    border: 2px solid grey;
}

.notification-dropdown .read {
    font-weight: normal;
    color: #555;
}

.notification-dropdown .unread {
    font-weight: bold;
    color: darkblue;
}

@media only screen and (max-width:768px) {

    /* Search button */
    .btn {
        margin-right: 75px;
    }

    /* Icons */
    .nav-item {
        margin-left: 15px;
    }

    /* hero */
    .col-sm-6 h1,
    .col-sm-6 p {
        text-align: center;
    }

    .btn-group {
        width: 330px;
    }

    .col-sm-3 img {
        width: 100%;
    }

    /* three column section */
    .fa-5x {
        font-size: 2.3rem;
        margin-top: 10%;
        margin-left: 45%;
    }

    /*featured section */
    h1 {
        text-align: center;
    }
}